import javax.swing.*;
import java.awt.*;
import java.awt.TextField;

public class GUI {
    public static void main(String[] args)
    {
        JFrame f = new JFrame();
        JPanel p = new JPanel();
        p.setBounds(0, 0, 950, 335);
        p.setLayout(null);
        
        Color cc = new Color(209, 208, 206);
        p.setBackground(cc);      //adding color 
        
        //JLabel --- REGISTER USER 
        JLabel label_one = new JLabel("REGISTER USER");
        label_one.setBounds(340, 40, 255, 35);
        
        //Fonts for REGISTER USER  
        Font ff = new Font("Times New Roman",Font.PLAIN,30);
        label_one.setFont(ff);
        p.add(label_one);
        
        //JLabel --- FIRST NAME 
        JLabel label_two = new JLabel("FIRST NAME");
        label_two.setBounds(28, 105, 95, 25);
        p.add(label_two);
        
        //Fonts for FIRST NAME 
        Font ff_two = new Font("Times New Roman",Font.PLAIN,16);
        label_two.setFont(ff_two);
        p.add(label_two);
        
        //Jtext Field 
        JTextField field = new JTextField("your name");
        field.setBounds(140, 95, 270, 40);
        p.add(field);
        
         //Jlabel --- USERNAME 
        JLabel label_three = new JLabel ("USERNAME");
        label_three.setBounds(428, 105, 95, 25);
        p.add(label_three);
        
        //Fonts for USERNAME 
        Font ff_three = new Font("Times New Roman",Font.PLAIN,16);
        label_three.setFont(ff_three);
        p.add(label_three);
        
        //Jtext Field 
        JTextField Field = new JTextField("username");
        field.setBounds(540, 94, 270, 40);
        p.add(field);

        
                        
      
        //Jbutton 
        JButton button = new JButton();
        button.setText("REGISTER");
        button.setBounds(340, 580, 250, 50);
        Font ff_seven = new Font("Times New Roman",Font.PLAIN,25);
        button.setFont(ff_seven);
        p.add(button);
        
        f.add(p);
        f.setBounds(10, 10, 950, 650);
        f.setResizable(false);
        f.setVisible(true);
        p.setVisible(true);
    }
}
